<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Revenue Trends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
        <ion-card-title>
          CRM Packs Daily Trend
        </ion-card-title>     
    </ion-card-header>
    <ion-card-content>
      <canvas #crmRevenueDaily></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>
          CMP Packs Daily Trend
        </ion-card-title>     
    </ion-card-header>
    <ion-card-content>
      <canvas #cmpRevenueDaily></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>
          Flexiplan Packs Daily Trend
        </ion-card-title>     
    </ion-card-header>
    <ion-card-content>
      <canvas #flexiplanRevenueDaily></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>
          Recharge Daily Trend
        </ion-card-title>     
    </ion-card-header>
    <ion-card-content>
      <canvas #rechargeDaily></canvas>
    </ion-card-content>
  </ion-card>

  

</ion-content>
