<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pack Activation Trend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
        <ion-card-title>
          2GB 54TK Hourly Trend 
        </ion-card-title>     
    </ion-card-header>
    <ion-card-content>
      <canvas #fiveFourTk></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title>
            350MB 33TK Hourly Trend 
          </ion-card-title>     
      </ion-card-header>
      <ion-card-content>
        <canvas #threeThreeTk></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
              3GB 108TK Hourly Trend 
            </ion-card-title>     
        </ion-card-header>
        <ion-card-content>
          <canvas #oneZeroFourTk></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <ion-card-title>
                1GB 89TK Hourly Trend 
              </ion-card-title>     
          </ion-card-header>
          <ion-card-content>
            <canvas #EightNineTk></canvas>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>
                  6GB 148TK Hourly Trend 
                </ion-card-title>     
            </ion-card-header>
            <ion-card-content>
              <canvas #oneFourEightTk></canvas>
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                  <ion-card-title>
                    1GB 189TK Hourly Trend 
                  </ion-card-title>     
              </ion-card-header>
              <ion-card-content>
                <canvas #oneEightNineTk></canvas>
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                      10GB 198TK Hourly Trend 
                    </ion-card-title>     
                </ion-card-header>
                <ion-card-content>
                  <canvas #oneNineEightTk></canvas>
                </ion-card-content>
              </ion-card>

              <ion-card>
                  <ion-card-header>
                      <ion-card-title>
                        1.5GB 247TK Hourly Trend 
                      </ion-card-title>     
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #twoFourSevenTk></canvas>
                  </ion-card-content>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                          3GB 289TK Hourly Trend 
                        </ion-card-title>     
                    </ion-card-header>
                    <ion-card-content>
                      <canvas #twoEightNineTk></canvas>
                    </ion-card-content>
                  </ion-card>

                  <ion-card>
                      <ion-card-header>
                          <ion-card-title>
                            5GB 399TK Hourly Trend 
                          </ion-card-title>     
                      </ion-card-header>
                      <ion-card-content>
                        <canvas #threeNineNineTk></canvas>
                      </ion-card-content>
                    </ion-card>



</ion-content>
